// COLORS
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

$color-primary: #2e3141;
$color-primary-light: #3a6073;
$color-primary-dark: #16222a;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.8rem;

$font-size-xlarge: 3.2rem;
$font-size-large: 2.8rem;
$font-size-big: 2.3rem;
$font-size-medium: 2rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.2rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Padding
$padding-sm: 2rem;
$padding-md: 4rem;
$padding-lg: 6rem;
